/* line 2, ../../../sass/layouts/rcp_page/rcp_page.layout.scss */
#wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  background: none; }

/* line 8, ../../../sass/layouts/rcp_page/rcp_page.layout.scss */
.l-branding {
  position: initial; }

/* line 11, ../../../sass/layouts/rcp_page/rcp_page.layout.scss */
.l-main.pageContentWrap {
  position: relative;
  top: 0;
  height: 100%;
  float: left;
  z-index: 1;
  margin: 0;
  width: 100%;
  padding: 10px 50px;
  background: rgba(255, 255, 255, 0.95); }
