/* line 36, ../../../../../../../ruby/1.9.3/gems/ruby/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../ruby/1.9.3/gems/ruby/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* line 1, ../sass/variables/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3b6f9e; }

/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_forms.scss */
form fieldset {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 2em;
  margin-bottom: 2em; }
  /* line 7, ../sass/base/_forms.scss */
  form fieldset legend {
    font-weight: 800;
    color: #3b6f9e;
    font-size: 1.5em; }
/* line 13, ../sass/base/_forms.scss */
form table {
  border: none;
  background-color: transparent; }
  /* line 15, ../sass/base/_forms.scss */
  form table tbody {
    border: none;
    background-color: transparent; }
  /* line 18, ../sass/base/_forms.scss */
  form table thead {
    border: none;
    background-color: transparent; }
  /* line 23, ../sass/base/_forms.scss */
  form table tr,
  form table tr.even,
  form table tr.odd {
    border: none;
    background-color: transparent; }
  /* line 26, ../sass/base/_forms.scss */
  form table th {
    border: none;
    background-color: transparent;
    padding: .5em 1em; }
  /* line 30, ../sass/base/_forms.scss */
  form table td {
    border: none;
    background-color: transparent;
    padding: .5em 1em; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/components/_checkout.scss */
.uc-cart-checkout-button {
  display: none; }

/* line 7, ../sass/components/_checkout.scss */
.uc-cart-checkout-form table {
  max-width: 680px; }
/* line 10, ../sass/components/_checkout.scss */
.uc-cart-checkout-form thead {
  display: none; }
/* line 14, ../sass/components/_checkout.scss */
.uc-cart-checkout-form tr td {
  font-size: 1.2em; }
  /* line 16, ../sass/components/_checkout.scss */
  .uc-cart-checkout-form tr td.products {
    font-size: 2em; }
    /* line 18, ../sass/components/_checkout.scss */
    .uc-cart-checkout-form tr td.products a {
      color: #009dc8;
      text-decoration: none; }
      /* line 22, ../sass/components/_checkout.scss */
      .uc-cart-checkout-form tr td.products a:hover, .uc-cart-checkout-form tr td.products a:focus {
        color: #0089af; }

/* line 31, ../sass/components/_checkout.scss */
.order-review-table {
  width: 100%;
  max-width: 800px;
  border: none;
  background-color: transparent; }
  /* line 35, ../sass/components/_checkout.scss */
  .order-review-table tbody {
    border: none;
    background-color: transparent; }
  /* line 38, ../sass/components/_checkout.scss */
  .order-review-table thead {
    border: none;
    background-color: transparent; }
  /* line 43, ../sass/components/_checkout.scss */
  .order-review-table tr,
  .order-review-table tr.even,
  .order-review-table tr.odd {
    border: none;
    background-color: transparent; }
  /* line 46, ../sass/components/_checkout.scss */
  .order-review-table tr.pane-title-row {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    font-size: 1.5em;
    font-weight: 800;
    color: #3b6f9e; }
    /* line 53, ../sass/components/_checkout.scss */
    .order-review-table tr.pane-title-row td {
      padding-top: 2em; }
    /* line 57, ../sass/components/_checkout.scss */
    .order-review-table tr.pane-title-row:first-child td {
      padding-top: 1em; }
  /* line 62, ../sass/components/_checkout.scss */
  .order-review-table tr.review-button-row {
    border: none;
    background-color: transparent; }
    /* line 64, ../sass/components/_checkout.scss */
    .order-review-table tr.review-button-row td {
      padding-top: 2em; }
  /* line 68, ../sass/components/_checkout.scss */
  .order-review-table th {
    border: none;
    background-color: transparent;
    padding: .5em 1em; }
  /* line 72, ../sass/components/_checkout.scss */
  .order-review-table td {
    border: none;
    background-color: transparent;
    padding: .5em 1em;
    font-size: 1.2em; }
    /* line 76, ../sass/components/_checkout.scss */
    .order-review-table td.title-col {
      padding-left: 0;
      max-width: 60px; }
  /* line 82, ../sass/components/_checkout.scss */
  .order-review-table table.cart-review {
    width: auto;
    margin: 0; }
    /* line 85, ../sass/components/_checkout.scss */
    .order-review-table table.cart-review .qty {
      max-width: 60px; }
    /* line 91, ../sass/components/_checkout.scss */
    .order-review-table table.cart-review a {
      color: #009dc8;
      text-decoration: none; }
      /* line 95, ../sass/components/_checkout.scss */
      .order-review-table table.cart-review a:hover, .order-review-table table.cart-review a:focus {
        color: #0089af; }

/* line 25, ../sass/rcpanels.styles.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 31, ../sass/rcpanels.styles.scss */
.vnav ul li {
  list-style: none; }

/* line 37, ../sass/rcpanels.styles.scss */
input.form-submit {
  background: #3b6f9e;
  color: #fff;
  border: none;
  outline: none;
  margin: 5px 0px;
  box-sizing: border-box; }
  /* line 44, ../sass/rcpanels.styles.scss */
  input.form-submit:hover {
    background: #427cb1; }
  /* line 47, ../sass/rcpanels.styles.scss */
  input.form-submit:active {
    background: #2d5579; }
  /* line 50, ../sass/rcpanels.styles.scss */
  input.form-submit + .ajax-progress {
    display: none; }

/* line 56, ../sass/rcpanels.styles.scss */
input[type="submit"] ~ input[type="submit"] {
  margin-left: .6em; }

/* line 61, ../sass/rcpanels.styles.scss */
#wrap {
  /* max-width: 1400px; */
  position: relative;
  min-height: 100%;
  height: 100%;
  /* height: auto; */
  padding: 0;
  overflow: hidden;
  background: #333; }

/* line 72, ../sass/rcpanels.styles.scss */
#panelsWrap {
  position: relative;
  top: 0;
  height: 100%;
  float: right;
  z-index: 1;
  margin: 0;
  width: 790px;
  left: 790px; }
  /* line 81, ../sass/rcpanels.styles.scss */
  #panelsWrap #nav01 {
    position: absolute;
    z-index: 20;
    padding: 102px 0 0;
    width: 191px;
    margin-left: -191px; }
    /* line 87, ../sass/rcpanels.styles.scss */
    #panelsWrap #nav01 ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 91, ../sass/rcpanels.styles.scss */
      #panelsWrap #nav01 ul li {
        margin: 0 0 1px; }
        /* line 93, ../sass/rcpanels.styles.scss */
        #panelsWrap #nav01 ul li a, #panelsWrap #nav01 ul li a:visited {
          text-decoration: none; }
          /* line 95, ../sass/rcpanels.styles.scss */
          #panelsWrap #nav01 ul li a span, #panelsWrap #nav01 ul li a:visited span {
            background: rgba(210, 210, 210, 0.9);
            width: 191px;
            height: 118px;
            display: block;
            padding: 20px;
            font-size: 1.1em;
            color: #555; }
        /* line 108, ../sass/rcpanels.styles.scss */
        #panelsWrap #nav01 ul li a.on span {
          color: #3b6f9e; }
  /* line 115, ../sass/rcpanels.styles.scss */
  #panelsWrap #rcp_content {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.97);
    height: 100%;
    padding: 102px 0 0;
    float: left;
    overflow: hidden; }
    /* line 122, ../sass/rcpanels.styles.scss */
    #panelsWrap #rcp_content #levelWrap_02 {
      float: left;
      padding: 0 14px;
      width: 352px;
      min-height: 1px; }
      /* line 131, ../sass/rcpanels.styles.scss */
      #panelsWrap #rcp_content #levelWrap_02 ul {
        list-style: none;
        padding: 0;
        margin: 0; }
      /* line 136, ../sass/rcpanels.styles.scss */
      #panelsWrap #rcp_content #levelWrap_02 li {
        overflow: hidden;
        margin: 0 0 1px; }
        /* line 139, ../sass/rcpanels.styles.scss */
        #panelsWrap #rcp_content #levelWrap_02 li a {
          display: block;
          color: #95958f;
          text-decoration: none;
          overflow: hidden;
          cursor: pointer;
          height: 118px;
          padding: 20px 0 0 193px; }
          /* line 147, ../sass/rcpanels.styles.scss */
          #panelsWrap #rcp_content #levelWrap_02 li a.on {
            color: #3fa9f5; }
      /* line 152, ../sass/rcpanels.styles.scss */
      #panelsWrap #rcp_content #levelWrap_02 .nav02 {
        display: none; }
      /* line 155, ../sass/rcpanels.styles.scss */
      #panelsWrap #rcp_content #levelWrap_02 .image {
        float: left;
        display: block;
        width: 178px;
        height: 118px;
        overflow: hidden;
        margin: -20px 15px 0 0;
        cursor: pointer;
        position: relative;
        margin-left: -193px; }
      /* line 166, ../sass/rcpanels.styles.scss */
      #panelsWrap #rcp_content #levelWrap_02 .arrow {
        display: block;
        position: absolute;
        bottom: 0;
        left: 100%;
        margin-left: -23px;
        font-size: 1.083em;
        color: #fff;
        padding: 8px 6px 8px 25px;
        background-color: #fff;
        background-image: url("../images/icons/level2Arrow.gif");
        background-position: 8px -25px;
        background-repeat: no-repeat; }
  /* line 182, ../sass/rcpanels.styles.scss */
  #panelsWrap .level3 {
    float: left;
    width: 438px;
    padding: 0 24px 0 0;
    color: #575757;
    font-size: 1.083em;
    line-height: 1.385; }
    /* line 191, ../sass/rcpanels.styles.scss */
    #panelsWrap .level3 .article {
      padding: 0 0 50px;
      display: none; }
    /* line 195, ../sass/rcpanels.styles.scss */
    #panelsWrap .level3 p {
      margin: 0 0 1em; }

/* line 202, ../sass/rcpanels.styles.scss */
cufon {
  display: inline !important;
  display: inline-block !important;
  position: relative !important;
  vertical-align: middle !important;
  font-size: 1px !important;
  line-height: 1px !important; }

/* line 219, ../sass/rcpanels.styles.scss */
#background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%; }
  /* line 224, ../sass/rcpanels.styles.scss */
  #background #bgImg {
    position: fixed;
    min-width: 1000px;
    /* max-width: 1400px; */
    width: 100%;
    height: 100%; }
    /* line 230, ../sass/rcpanels.styles.scss */
    #background #bgImg .bgGroup {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      /* line 235, ../sass/rcpanels.styles.scss */
      #background #bgImg .bgGroup img {
        position: absolute;
        top: 0;
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: initial;
        max-height: initial; }

/*----------------------------------*/
/*          Recordings              */
/*----------------------------------*/
/* line 254, ../sass/rcpanels.styles.scss */
.view.recordings {
  padding: 10px 40px 45px 40px; }
  /* line 256, ../sass/rcpanels.styles.scss */
  .view.recordings .views-row a {
    background-color: #fff;
    color: #3dace0; }
    /* line 259, ../sass/rcpanels.styles.scss */
    .view.recordings .views-row a:hover, .view.recordings .views-row a.sm2_playing {
      background-color: #D0E7F1;
      color: #3b6f9e; }
    /* line 263, ../sass/rcpanels.styles.scss */
    .view.recordings .views-row a.sm2_paused {
      background-color: #eee; }

/* line 269, ../sass/rcpanels.styles.scss */
#block-views-media-audio-block h2.block-title {
  padding: 30px 40px 10px 40px; }

/*----------------------------------*/
/*              Tabs                */
/*----------------------------------*/
/* line 278, ../sass/rcpanels.styles.scss */
ul.tabs--primary {
  font-size: 0.8em;
  background-image: none;
  background-color: #3fa9f5;
  border-bottom: 1px solid #eee; }
  /* line 284, ../sass/rcpanels.styles.scss */
  ul.tabs--primary li {
    padding: 7px 9px;
    margin: 0px;
    font-weight: 200;
    font-size: 1.1em; }
    /* line 289, ../sass/rcpanels.styles.scss */
    ul.tabs--primary li a, ul.tabs--primary li a:visited, ul.tabs--primary li a:hover {
      background: none;
      color: #fff;
      padding: 0px 6px;
      font-weight: 200; }
  /* line 297, ../sass/rcpanels.styles.scss */
  ul.tabs--primary li.active {
    background-color: #0b85dc;
    background-image: none; }
    /* line 301, ../sass/rcpanels.styles.scss */
    ul.tabs--primary li.active a, ul.tabs--primary li.active a:visited, ul.tabs--primary li.active a:hover {
      color: #fff;
      font-weight: bold;
      background: none; }
    /* line 306, ../sass/rcpanels.styles.scss */
    ul.tabs--primary li.active:hover {
      background-color: #0a76c4; }
  /* line 310, ../sass/rcpanels.styles.scss */
  ul.tabs--primary li:hover {
    background-color: #279ef4;
    background-image: none; }

/*----------------------------------*/
/*        Scores Tab Styling        */
/*----------------------------------*/
/* line 324, ../sass/rcpanels.styles.scss */
.node .field .node--audio-recording .node__title,
.node .field .node--audio-recording .node__links {
  display: none; }

/* line 330, ../sass/rcpanels.styles.scss */
.views-field-field-linked-recording .node__title,
.views-field-field-linked-recording .node__links {
  display: none; }

/* line 334, ../sass/rcpanels.styles.scss */
.field--name-field-preview-pdf {
  color: transparent; }
  /* line 336, ../sass/rcpanels.styles.scss */
  .field--name-field-preview-pdf a {
    color: transparent;
    display: none; }

/* line 342, ../sass/rcpanels.styles.scss */
.view.view-media-scores {
  padding: 0px; }
  /* line 345, ../sass/rcpanels.styles.scss */
  .view.view-media-scores .views-row {
    margin: 0px;
    padding: 10px;
    border-top: 1px dashed #bababa; }
    /* line 349, ../sass/rcpanels.styles.scss */
    .view.view-media-scores .views-row .uc-price {
      text-align: right;
      width: 30px;
      display: inline-block;
      background-color: none;
      background: none; }
    /* line 356, ../sass/rcpanels.styles.scss */
    .view.view-media-scores .views-row .views-field-display-price {
      font-size: 1em;
      float: left;
      margin: 0px 20px 30px 0px;
      min-width: 30px; }
    /* line 363, ../sass/rcpanels.styles.scss */
    .view.view-media-scores .views-row .views-field-title {
      font-size: 1em;
      font-weight: bold;
      background: none;
      width: 55%;
      float: left; }
      /* line 369, ../sass/rcpanels.styles.scss */
      .view.view-media-scores .views-row .views-field-title a {
        text-decoration: none;
        background: none;
        color: #2d5579; }
    /* line 376, ../sass/rcpanels.styles.scss */
    .view.view-media-scores .views-row .views-field-field-linked-recording ul {
      list-style: none;
      padding: 0px;
      margin: 0px 0px 0px 20px; }
      /* line 381, ../sass/rcpanels.styles.scss */
      .view.view-media-scores .views-row .views-field-field-linked-recording ul li a.sm2_link {
        width: 100%;
        background-color: #fafafa; }
    /* line 388, ../sass/rcpanels.styles.scss */
    .view.view-media-scores .views-row .form-actions {
      text-align: right; }
    /* line 400, ../sass/rcpanels.styles.scss */
    .view.view-media-scores .views-row.views-row-first {
      border-top: none; }
    /* line 403, ../sass/rcpanels.styles.scss */
    .view.view-media-scores .views-row:after {
      content: '';
      clear: both;
      display: block;
      height: 1em; }

/* line 415, ../sass/rcpanels.styles.scss */
.level4.offCanvas {
  position: absolute;
  z-index: 10;
  right: -120%;
  width: 414px;
  padding-bottom: 100%;
  margin-bottom: -100%;
  background: #fff;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease; }
  /* line 424, ../sass/rcpanels.styles.scss */
  .level4.offCanvas.active {
    right: 0px; }

/*----------------------------------*/
/*           Shopping Cart          */
/*----------------------------------*/
/* line 438, ../sass/rcpanels.styles.scss */
#shoppingCartButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 400;
  padding: 10px;
  text-align: right; }

/* line 446, ../sass/rcpanels.styles.scss */
#shoppingCart {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 400;
  padding-top: 20px; }

/* line 453, ../sass/rcpanels.styles.scss */
.basket-button-count {
  display: block;
  padding: 10px 30px 20px;
  background: #fff;
  color: #3fa9f5;
  background: rgba(255, 255, 255, 0.5) url(../images/icons/shopping-cart-empty.png) center 70% no-repeat; }
  /* line 459, ../sass/rcpanels.styles.scss */
  .basket-button-count.cart_full {
    background-image: url(../images/icons/shopping-cart-full.png); }
  /* line 463, ../sass/rcpanels.styles.scss */
  .basket-button-count.cart_empty .cartCount {
    color: transparent;
    opacity: 0; }
  /* line 468, ../sass/rcpanels.styles.scss */
  .basket-button-count .cartCount {
    position: relative;
    top: -6px;
    font-size: 13px; }

/* line 474, ../sass/rcpanels.styles.scss */
#cartPanelLink {
  text-decoration: none;
  color: #3fa9f5; }

/* line 478, ../sass/rcpanels.styles.scss */
#wrap {
  left: 0px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease; }
  /* line 481, ../sass/rcpanels.styles.scss */
  #wrap #cartFadeOut {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 0%;
    height: 0%;
    z-index: 100;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }
  /* line 491, ../sass/rcpanels.styles.scss */
  #wrap #nav01 {
    -webkit-transition: margin-left 0.3s ease;
    -moz-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease; }

/* line 495, ../sass/rcpanels.styles.scss */
#wrap.cartView {
  left: -300px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease; }
  /* line 498, ../sass/rcpanels.styles.scss */
  #wrap.cartView #cartFadeOut {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    transition: background 0.3s ease; }
  /* line 505, ../sass/rcpanels.styles.scss */
  #wrap.cartView #nav01 {
    left: 0px;
    pointer-events: none;
    -webkit-transition: margin-left 0.3s ease;
    -moz-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease; }
  /* line 513, ../sass/rcpanels.styles.scss */
  #wrap.cartView #levelWrap_01,
  #wrap.cartView #rcp_content {
    pointer-events: none; }
  /* line 516, ../sass/rcpanels.styles.scss */
  #wrap.cartView .basket-button-count {
    background-color: #fff;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
  /* line 521, ../sass/rcpanels.styles.scss */
  #wrap.cartView.level2open #nav01 {
    margin-left: -491px; }

/* line 527, ../sass/rcpanels.styles.scss */
.cartSummary {
  position: absolute;
  overflow: hidden;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 100%;
  max-height: 100%;
  background: #fff;
  padding: 20px 10px;
  padding-top: 30px; }
  /* line 540, ../sass/rcpanels.styles.scss */
  .cartSummary input[value=Remove] {
    color: transparent;
    background-color: #000;
    background: none;
    border: none;
    outline: none;
    width: 16px;
    margin: 4px;
    overflow: hidden;
    background: url(../images/icons/icon-close.png) left top no-repeat;
    background-size: contain; }
    /* line 551, ../sass/rcpanels.styles.scss */
    .cartSummary input[value=Remove]:before {
      content: 'X';
      position: absolute;
      color: #000; }
  /* line 558, ../sass/rcpanels.styles.scss */
  .cartSummary table th {
    display: none; }
  /* line 561, ../sass/rcpanels.styles.scss */
  .cartSummary table tr {
    background: none; }
    /* line 563, ../sass/rcpanels.styles.scss */
    .cartSummary table tr td {
      padding: 5px 2px;
      vertical-align: bottom; }
      /* line 566, ../sass/rcpanels.styles.scss */
      .cartSummary table tr td a {
        text-decoration: none;
        pointer-events: none;
        color: #333; }
  /* line 576, ../sass/rcpanels.styles.scss */
  .cartSummary #uc-cart-view-form #edit-actions input.form-submit {
    background: #3b6f9e;
    color: #fff;
    width: 100%;
    display: block;
    border: none;
    outline: none;
    margin: 5px 0px;
    box-sizing: border-box;
    float: none; }
  /* line 587, ../sass/rcpanels.styles.scss */
  .cartSummary #uc-cart-view-form #edit-actions .uc-cart-checkout-button-container {
    text-align: center; }
    /* line 589, ../sass/rcpanels.styles.scss */
    .cartSummary #uc-cart-view-form #edit-actions .uc-cart-checkout-button-container .uc-cart-checkout-button {
      float: none;
      padding: 20px; }

/* line 597, ../sass/rcpanels.styles.scss */
#shoppingCart .block__title {
  display: none; }
/* line 600, ../sass/rcpanels.styles.scss */
#shoppingCart ul.menu {
  position: absolute;
  right: 100%;
  width: 80px;
  height: 52px;
  text-align: right;
  margin: 0px 2px;
  padding: 20px 20px 10px 10px;
  background: rgba(255, 255, 255, 0.5);
  font-size: .9em; }
  /* line 610, ../sass/rcpanels.styles.scss */
  #shoppingCart ul.menu li {
    list-style: none;
    display: inline-block;
    text-align: right; }
    /* line 614, ../sass/rcpanels.styles.scss */
    #shoppingCart ul.menu li a {
      color: #3b6f9e;
      text-decoration: none; }
    /* line 618, ../sass/rcpanels.styles.scss */
    #shoppingCart ul.menu li:last-child {
      display: none; }

/* line 625, ../sass/rcpanels.styles.scss */
.logged-in #shoppingCart ul.menu {
  width: 120px; }
  /* line 627, ../sass/rcpanels.styles.scss */
  .logged-in #shoppingCart ul.menu li:first-child, .logged-in #shoppingCart ul.menu li:last-child {
    display: none; }

/* line 634, ../sass/rcpanels.styles.scss */
#panelsWrap .messages {
  position: fixed;
  bottom: 10px;
  right: 10px; }

/* line 640, ../sass/rcpanels.styles.scss */
iframe.pdf {
  width: 100%; }

/* line 644, ../sass/rcpanels.styles.scss */
iframe.cboxIframe html, iframe.cboxIframe body, iframe.cboxIframe iframe, iframe.cboxIframe div {
  height: 100%; }

/* line 649, ../sass/rcpanels.styles.scss */
.cart-empty-wrap {
  margin: 0px auto;
  padding: 20px 15px;
  width: 100%;
  max-width: 600px; }
  /* line 654, ../sass/rcpanels.styles.scss */
  .cart-empty-wrap .uc-cart-empty {
    width: 100%; }
  /* line 659, ../sass/rcpanels.styles.scss */
  .cart-empty-wrap .form-submit {
    width: 100%;
    max-width: 300px; }

/* line 668, ../sass/rcpanels.styles.scss */
.admin-view table {
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 50px; }
  /* line 672, ../sass/rcpanels.styles.scss */
  .admin-view table tr, .admin-view table th, .admin-view table td {
    background: transparent; }
  /* line 676, ../sass/rcpanels.styles.scss */
  .admin-view table th, .admin-view table td {
    padding: 4px 10px; }
  /* line 679, ../sass/rcpanels.styles.scss */
  .admin-view table th {
    background-color: #3b6f9e;
    color: #ddd; }
    /* line 682, ../sass/rcpanels.styles.scss */
    .admin-view table th a, .admin-view table th a:visited {
      color: #fff; }
    /* line 685, ../sass/rcpanels.styles.scss */
    .admin-view table th.active {
      background-color: #2d5579; }
  /* line 689, ../sass/rcpanels.styles.scss */
  .admin-view table .views-field-field-gallery-photo {
    width: 50px; }
  /* line 692, ../sass/rcpanels.styles.scss */
  .admin-view table tr:hover {
    background-color: rgba(0, 0, 0, 0.08); }
/* line 697, ../sass/rcpanels.styles.scss */
.admin-view h2.block__title {
  float: left; }
/* line 700, ../sass/rcpanels.styles.scss */
.admin-view .view-header {
  float: left;
  padding: 10px 20px; }
/* line 704, ../sass/rcpanels.styles.scss */
.admin-view .views-exposed-form {
  clear: both; }

/* line 711, ../sass/rcpanels.styles.scss */
.block--views-admin-panel-block h2.block__title,
.block--views-admin-panel-block-1 h2.block__title,
.block--views-admin-panel-block-2 h2.block__title,
.block--views-admin-panel-block-3 h2.block__title {
  float: left; }

/* Animation */
@-moz-keyframes loadingAnimation {
  /* line 724, ../sass/rcpanels.styles.scss */
  from {
    opacity: 0.8; }

  /* line 725, ../sass/rcpanels.styles.scss */
  to {
    opacity: 0.2; } }

@-webkit-keyframes loadingAnimation {
  /* line 729, ../sass/rcpanels.styles.scss */
  from {
    opacity: 0.8; }

  /* line 730, ../sass/rcpanels.styles.scss */
  to {
    opacity: 0.2; } }

@-o-keyframes loadingAnimation {
  /* line 734, ../sass/rcpanels.styles.scss */
  from {
    opacity: 0.8; }

  /* line 735, ../sass/rcpanels.styles.scss */
  to {
    opacity: 0.2; } }

@-ms-keyframes loadingAnimation {
  /* line 739, ../sass/rcpanels.styles.scss */
  from {
    opacity: 0.8; }

  /* line 740, ../sass/rcpanels.styles.scss */
  to {
    opacity: 0.2; } }

@-khtml-keyframes loadingAnimation {
  /* line 744, ../sass/rcpanels.styles.scss */
  from {
    opacity: 0.8; }

  /* line 745, ../sass/rcpanels.styles.scss */
  to {
    opacity: 0.2; } }

@keyframes loadingAnimation {
  /* line 749, ../sass/rcpanels.styles.scss */
  from {
    opacity: 0.8; }

  /* line 750, ../sass/rcpanels.styles.scss */
  to {
    opacity: 0.2; } }

/* The container */
/* line 754, ../sass/rcpanels.styles.scss */
#loading {
  height: 30px;
  width: 100px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -15px;
  display: block; }

/* line 768, ../sass/rcpanels.styles.scss */
.ui-loading {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 15px; }

/* line 772, ../sass/rcpanels.styles.scss */
.ui-loading ul, .ui-loading li {
  list-style-type: none;
  list-type: none;
  margin: 0px;
  padding: 0px; }

/* line 776, ../sass/rcpanels.styles.scss */
.ui-loading ul {
  display: inline-block; }

/* line 777, ../sass/rcpanels.styles.scss */
.ui-loading li {
  float: left;
  display: inline;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #3b6f9e;
  margin-right: 5px;
  opacity: 0.2;
  -webkit-animation: loadingAnimation 1.5s infinite;
  -moz-animation: loadingAnimation 1.5s infinite;
  animation: loadingAnimation 1.5s infinite; }

/* line 792, ../sass/rcpanels.styles.scss */
.ui-loading li:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s; }

/* line 797, ../sass/rcpanels.styles.scss */
.ui-loading li:nth-child(2) {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  animation-delay: 500ms; }

/* line 802, ../sass/rcpanels.styles.scss */
.ui-loading li:nth-child(3) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  animation-delay: 1000ms; }

/* line 808, ../sass/rcpanels.styles.scss */
#cartPreviewAjax span.loadingMessage {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 120px; }
/* line 814, ../sass/rcpanels.styles.scss */
#cartPreviewAjax #loading {
  top: 200px; }

/* line 822, ../sass/rcpanels.styles.scss */
div#admin-menu {
  background: rgba(0, 0, 0, 0.2); }

/* line 826, ../sass/rcpanels.styles.scss */
#admin-menu .dropdown a, #admin-menu .dropdown li > span {
  border: none; }

/* line 833, ../sass/rcpanels.styles.scss */
#panelsWrap #nav01 ul li.mobileNav a span {
  padding-left: 20px;
  padding-top: 15px; }
  /* line 836, ../sass/rcpanels.styles.scss */
  #panelsWrap #nav01 ul li.mobileNav a span:before {
    content: ' ';
    background: url(../images/icons/icon-menu.png) top left no-repeat;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
    float: left; }

/* line 853, ../sass/rcpanels.styles.scss */
.cart-disabled .add-to-cart,
.cart-disabled .display-price {
  display: none; }

/* --------- Temporary ----------- */
/* line 859, ../sass/rcpanels.styles.scss */
.l-branding {
  position: fixed;
  z-index: 100;
  top: 80px;
  max-width: 220px; }

/* line 865, ../sass/rcpanels.styles.scss */
.messages--error {
  display: none; }

/* line 868, ../sass/rcpanels.styles.scss */
.messages--warning {
  display: none; }

/* line 873, ../sass/rcpanels.styles.scss */
.nav02-description {
  width: 125%;
  margin-top: -40px;
  opacity: 1;
  margin-left: 0px;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  transition: 0.4s all ease; }

/* line 884, ../sass/rcpanels.styles.scss */
.level3 .nav02-description {
  opacity: 0;
  margin-left: -400%;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  transition: 0.4s all ease; }
